@import "../../../styles/shared.scss";

.post-detail {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: $white;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  margin: 0 auto;
  padding: 3rem 4rem;
  margin-bottom: 80px;

  a {
    color: inherit;
    &:hover {
      color: $purple-color;
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  .separator {
    display: inline-block;
    padding: 0px 20px;
    color: lightgray;
  }

  .left-side {
    flex-basis: 70%;
    padding-right: 20px;

    .text {
      color: $dark-gray;
    }

    img {
      align-self: flex-start;
    }

    .post-info {
      margin: 10px 0px;
    }

    .comments-list {
      margin-top: 20px;
    }
  }

  .side-info {
    margin-top: 20px;
    .links-wrapper {
      > a {
        display: block;
        text-decoration: none;
        color: $purple-color;
        margin-bottom: 10px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: 901px) {
  .post-detail {
    flex-direction: row;
    .side-info {
      flex-basis: 30%;
      padding: 0px 20px 0px 40px;
      margin-left: 40px;
      border-left: 1px dashed $super-light-gray;
      h3 {
        font-size: 2rem;
        margin-top: 0;
        text-align: center;
      }

      .section-wrapper {
        margin-bottom: 30px;
      }
    }
  }
}
